* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Arial;
}

body {
  background: white;
  color: black;
  padding-top: 65px;
  text-align: center;
}

nav {
  position: fixed;
  top:0; 
  background: orange;
  width: 100%;

}

nav ul {
justify-content: center;
list-style:none;
gap: 20px;
display: flex;
}


.menu-table {
  margin: 18px auto;
  border: 4px solid gray;
  border-collapse: collapse;
  width: 20%;
}


.menu-table th {
  background-color: orange;
  color: white;
}
nav a {

  color: white;
  font-weight: bold;
  text-decoration: none;
}


#contactform {
  margin-top: 60px;
}





